<h2 class="form-sign-heading">Log In</h2>

<form class="form-sign">
  <input type="text" class="form-control"
         ng-model="userData.username"
         name="username" value="" placeholder="Username"
         required="" autofocus="">
  <input type="password" class="form-control"
         ng-model="userData.password"
         name="pass" placeholder="Password" required="">
  <div class="has-error" ng-bind="userData.error"></div>
  <button class="btn btn-lg btn-primary btn-block" ng-click="authenticate()">
    Log in
  </button>
</form>
