<h2 class="form-sign-heading">Sign Up</h2>

<form class="form-sign" action="/signup/" ,="" method="post">
  <div id="user">
    <input id="id_username" maxlength="30"
           name="username" type="text"
           class="form-control" placeholder="Username"
           required="">
    <div id="usr-help" class="help-block">
      Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.
    </div>
  </div>
  <div id="password">
    <input id="id_password1" name="password1"
           type="password" class="form-control"
           placeholder="Password" required="">
    <div id="pass-help" class="help-block">
      <p>Required.</p>
    </div>
  </div>
  <div id="cpassword">
    <input id="id_password2" name="password2"
           type="password" class="form-control"
           placeholder="Re-enter Password" required="">
    <div id="cpass-help" class="help-block">
      Enter the same password as above, for verification.
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign up
  </button>
</form>

<script type="text/javascript" src="static/js/signup.js"></script>
