<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/feed">Simple Twitter</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{active: $root.userData.location == '/feed'}">
        <a href="#/feed">Home</a>
      </li>
      <li ng-class="{active: $root.userData.location == '/login'}"
          ng-if="!$root.userData.isLoggedIn">
        <a href="#/login">Log In</a>
      </li>
      <li ng-class="{active: $root.userData.location == '/signup'}"
          ng-if="!$root.userData.isLoggedIn">
        <a href="#/signup">Sign Up</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right"
        ng-if="$root.userData.isLoggedIn">
      <li ng-class="{active: $root.userData.location == '/tweet'}">
        <a href="#/tweet">Tweet</a>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle"
          data-toggle="dropdown">{{ $root.userData.username }}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/user-info">My Tweets</a></li>
          <li class="divider"></li>
          <li><a href="#/" ng-click="$root.userData.isLoggedIn = false">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
