{% extends "base.html" %}

{% block stylesheets %}
  <link href="/static/css/twitter.css" rel="stylesheet">
{% endblock %}

{% block title %}Twitter - Home{% endblock %}
{% block navbarbrand %}Twitter{% endblock %}

{% block navbarleft %}
  <li class="active"><a href="#">Home</a></li>
  {% if usr.is_anonymous %}
    <li><a href="{% url 'signin' '' %}">Sign In</a></li>
    <li><a href="{% url 'signup' '' %}">Sign Up</a></li>
  {% endif %}
{% endblock %}

{% block navbarright %}
  <li><a href="{% url 'tweet' %}">Tweet</a></li>
  {% if usr.is_authenticated %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" 
        data-toggle="dropdown">{{ usr.username }}<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'user-info' usr.id %}">My Tweets</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'signout' %}">Sign Out</a></li>
      </ul>
    </li>
  {% endif %}
{% endblock %}

{% block container %}
  <ul class="list-unstyled">
    {% for tweet in tweets %}
    <li>
      <div class="row">
        <div class="col-md-offset-2 col-md-2">
          <div class="row">
            <a href="{% url 'user-info' tweet.user.id %}">{{ tweet.user }}</a> 
          </div>
          <div class="col-md-12">
            <p>{{ tweet.created|date:"D d M Y H:i" }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row tweet">
            <p> {{ tweet.data|urlize }} </p>
            <ul class="list-inline">{{ tweet.images|safe }}</ul>
          </div>
        </div>
      </div>
      <hr>
    </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block endcontainer %}
  <div class="row">
    <div class="col-md-offset-4 col-md-6">
      <ul class="pagination">
        {% if tweets.has_previous %}
          <li><a href="?page={{ tweets.previous_page_number }}">&laquo</a></li>
        {% else %}
          <li class="disabled"><a href="#">&laquo</a></li>
        {% endif %}

        {% for p in tweets.paginator.page_range %}
          {% if tweets.number == p %}
            <li class="active"><a href="#">{{ p }}</a></li>
          {% else %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if tweets.has_next %}
          <li><a href="?page={{ tweets.next_page_number }}">&raquo</a></li>
        {% else %}
          <li class="disabled"><a href="#">&raquo</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}{% endblock %}
